.half-section {
  position: relative;
  width: 50%;
  display: inline-block;
  float: left;
  max-height: 500px;
}

.scroll-box {
  overflow: scroll;
  max-height: 500px;
}

.entire-window {
  background-color:#333;
}
